.leaflet-container {
  min-height: 300px;
  height: 600px;
  margin: 0;
}

.leaflet-yellow-icon
{
  background:yellow;
  border:5px solid rgba(255,255,255,0.5);
  color:yellow;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
  line-height:40px;
  width:30px;
  height:30px;
}

.leaflet-yellow-iconold
{
background-color: yellow;
width: 3rem;
height: 3rem;
display: block;
left: -1.5rem;
top: -1.5rem;
position: relative;
border-radius: 3rem 3rem 0;
transform: rotate(45deg);
border: 1px solid #FFFFFF;
}
